.headrocp{
    font-size: 80px;
    font-family: 'Boombox', sans-serif;
    color: antiquewhite;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #e60073, 0 0 40px #e60073, 0 0 50px #e60073;
    width: 100%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    text-decoration: underline;
}
.btn {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #03045e;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
   }
   
   .btn::before,
   .btn::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
   }
   
   .btn::before {
    left: -10px;
    background: #240046;
   }
   
   .btn::after {
    right: -10px;
    background: #5a189a;
   }
   
   .btn:hover::before,
   .btn:hover::after {
    width: 58%;
   }
   
   .btn:hover span {
    color: #e0aaff;
    transition: 0.3s;
   }
   
   .btn span {
    color: #03045e;
    font-size: 18px;
    transition: all 0.3s ease-in;
   }
   
   .button-rOcP{
    margin-left: 45%;
    margin-top: 5%;
   }
   .rule{
    color: white;
    padding-left: 25%;
    padding-top: 2%;
   }
   li{
    padding-bottom: 5px;
   }
   @media only screen and (max-width:500px) {
    .headrocp{
        font-size: 60px;
    }
    .rule{
        padding-left: 5%;
        padding-right: 5%;
    }
    .button-rOcP{
        margin-left: 30%;
    }
   }